@page "/home"
@using MedicalStore.Models

<h1>welcome to online medical store @userInfo.Name</h1>
@code{
    public UserInfo userInfo = new();
    @* <TelerikButton Tooltip="Click to save data">Save</TelerikButton> *@


}