.form-input {
    margin-bottom: 10px;
}

input {
    padding: 6px 10px;
    border: 1px solid hsla(0, 0%, 80%, 0.684);
    border-radius: 4px;
    width: 300px;
}

button {
    margin-right: 5px;
    padding: 5px 12px;
    background-color: hsl(277, 95%, 38%);
    color: white;
    border: none;
    border-radius: 4px;
}



table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

h2 {
    margin-top: 30px;
    font-weight: bold;
}
